body {
  font-family: Arial;
  background-color: #f3f3f3;
  margin: 0;
  padding: 20px;
}

.card {
  background: skyblue;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px;
  text-align: center;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px;
}

h1, h2 {
  color: #333;
}

p {
  line-height: 1.5;
  font-size: 17px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

a {
  color: #3498db;
  text-decoration: none
}
